{{ define "main" }}

<div class="col-sm-12 h1 text-primary text-center mt-5" style="margin-bottom: 1em; color: #3089c9 !important">{{.Title}} </div>
    
        <section class="testi_text">
          <div class="container">
          <div class="col-md-12 col-12 col-sm-12">
            <div class="col-md-4 col-4 col-sm-4 col-12 products_page">
              <div class="caspah_product">
                <img src="{{.Params.offerimage1}}" class="img-responsive">
              </div>
            </div>
            <div class="col-md-4 col-4 col-sm-4 col-12 products_page">
              <div class="caspah_product">
                <img src="{{.Params.offerimage2}}" class="img-responsive">
              </div>
            </div>
            <div class="col-md-4 col-4 col-sm-4 col-12 products_page">
              <div class="caspah_product">
                <img src="{{.Params.offerimage3}}" class="img-responsive">
              </div>
            </div>
          </div>
          </div>
        </section>
    
        <section class="wrappr">
          <div class="container">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <strong>{{.Params.heading1}}</strong>
              <p> {{.Params.description1}}</p>
              <div class="directions">
                <strong class="heading_anal">{{.Params.heading2}}</strong>
              </div>
    
              <p>{{.Params.description2}}</p>
              <div class="directions">
                <strong class="heading_anal">{{.Params.heading3}}</strong>
              </div>
              <p>{{.Params.description3}}</p>
              
            </div>       
          </div>
          
        </section>
    
        <section>
          <div class="container" style="overflow-x: auto;">
            
            <table class="table">
              <thead style="background-color:#0078bb;border-color:#0078bb;color:#fff;">
                  <tr>
                      <th></th>
                      <th style="text-align: center;">Caspah</th>
                      <th style="text-align: center;">Celabright</th>
                      <th style="text-align: center;">Medliten</th>
                      <th style="text-align: center;">Vigala</th>
                      <th style="text-align: center;">Meladerm</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td style="color: #0a7cbe;font-weight: bold;">Price</td>
                      <td style="text-align: center; background-color: #d0e8f5;">$39.95</td>
                      <td style="text-align: center;">$49.95</td>
                      <td style="text-align: center;">$49.95</td>
                      <td style="text-align: center;">$51.00</td>
                      <td style="text-align: center;">$49.99</td>                      
                  </tr>
                  <tr>
                      <td style="color: #0a7cbe;font-weight: bold;">Shipping</td>
                      <td style="text-align: center; background-color: #d0e8f5;">Free</td>
                      <td style="text-align: center;color: #e53238;">$6.25</td>
                      <td style="text-align: center;color: #e53238;">$5.95</td>
                      <td style="text-align: center;color: #e53238;">$7.00</td>
                      <td style="text-align: center;color: #e53238;">$8.99</td>
                  </tr>
                  <tr>
                      <td style="color: #0a7cbe;font-weight: bold;">Refund Policy</td>
                      <td style="text-align: center; background-color: #d0e8f5;">45 Day Guarantee</br>used or unused</td>
                      <td style="text-align: center;">30 days</br>only if sealed</td>
                      <td style="text-align: center;">30 days</br>only if sealed</td>
                      <td style="text-align: center;">None</td>
                      <td style="text-align: center;">30 days</br>used or unused</td>
                  </tr>    
                  <tr>
                    <td style="color: #0a7cbe;font-weight: bold;">Contains</br>Hydroquinone</td>
                    <td style="text-align: center; background-color: #d0e8f5;">NO</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;color: #e53238;">YES</td>
                    <td style="text-align: center;">NO</td>                      
                </tr>
                <tr>
                    <td style="color: #0a7cbe;font-weight: bold;">Bottle Size</td>
                    <td style="text-align: center; background-color: #d0e8f5;">1.7 oz</td>
                    <td style="text-align: center;color: #e53238;">1 oz.</td>
                    <td style="text-align: center;color: #e53238;">1 oz.</td>
                    <td style="text-align: center;">2 oz.</td>
                    <td style="text-align: center;">1.7oz.</td>
                </tr>
                <tr>
                    <td style="color: #0a7cbe;font-weight: bold;">Airless Bottle</td> 
                    <td style="text-align: center; background-color: #d0e8f5;">YES</td>
                    <td style="text-align: center;">YES</td>                    
                    <td style="text-align: center;">YES</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;">YES</td>
                </tr>   
                <tr>
                    <td style="color: #0a7cbe;font-weight: bold;">Coupons</td>
                    <td style="text-align: center; background-color: #d0e8f5;">(2) for $69.95</br>(3) for $99.95</td>
                    <td style="text-align: center;">(3) 1 oz bottles</br>for $99.00</td>
                    <td style="text-align: center;">(3) 1 oz bottles</br> for $99.00</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;">NO</td>
                </tr>
                <tr>
                  <td style="color: #0a7cbe;font-weight: bold;">Specifically For </br>Intimate Areas</td> 
                    <td style="text-align: center; background-color: #d0e8f5;">YES</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;">NO</td>
                    <td style="text-align: center;">YES</td>
                    <td style="text-align: center;color: #e53238;">NO</td>
                </tr>             
              </tbody>
          </table>

    
          </div>
        </section>
    
        <div class="testimonial_client">
              <div class="col-sm-12 h1 text-center client-testimonial">Customer Submitted Reviews</div>
              </div>
        
              <section class="client_text">
   
                <div class="container">
                <div class="col-md-12 col-12 col-sm-12" style="clear: both;">
                        <div class="col-md-6 col-6 col-sm-12 col-12 testimonial_wrap">
                          <p>"{{.Params.testimonyComment1}}”</p>
                          <strong>-{{.Params.testimonyName1}} ({{.Params.testimonyAddress1}})</strong><br/>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        </div>
            
                        <div class="col-md-6 col-6 col-sm-12 col-12 testimonial_wrap">
                            <p>"{{.Params.testimonyComment2}}”</p>
                            <strong>-{{.Params.testimonyName2}} ({{.Params.testimonyAddress2}})</strong><br/>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        </div> 
                      </div>
            
                       <div class="col-md-12 col-12 col-sm-12" style="clear: both;">
                        <div class="col-md-6 col-6 col-sm-12 col-12 testimonial_wrap">
                            <p>"{{.Params.testimonyComment3}}”</p>
                            <strong>-{{.Params.testimonyName3}} ({{.Params.testimonyAddress3}})</strong><br/>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        </div>
            
                        <div class="col-md-6 col-6 col-sm-12 col-12 testimonial_wrap">
                            <p>"{{.Params.testimonyComment4}}”</p>
                            <strong>-{{.Params.testimonyName4}} ({{.Params.testimonyAddress4}})</strong><br/>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                        </div>
                      </div>
            
                       
            
        </section>

{{partial "client-testimonial.html" . }}

{{partial "we_accept.html" . }}

{{ end }}