.carousel {
    margin: 25px auto;
    padding: 0 70px;
    }
    .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
    }
    .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    /*border: 1px solid #ddd;*/
    border-radius: 50%;
    }
    .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    }
    .carousel .testimonial {
    padding: 10px 0 20px;
    }

    .carousel .overview {
    /*font-style: italic;*/
    }
    .carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
    }
    .carousel .carousel-control {
    width: 55px;
    height: 40px;
    margin-top: -20px;
    top: 48%;
    background: none;
    }
    .carousel-control i {
    font-size: 50px;
    line-height: 42px;
    position: absolute;
    display: inline-block;    
    color:#a87ba2;
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }
    .carousel .carousel-indicators {
    bottom: -40px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
    width: 30px;
   
    margin: 1px 3px;
    
    }
    .carousel-indicators li {
    background: #999;
    border-color: transparent;
    
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    }
    .carousel-indicators li.active {
    background: #021942;
    
    }