{{ define "main" }}
<div class="col-sm-12 h1 text-primary text-center mt-5" style="margin-bottom: 1em; color: #3089c9 !important">{{.Title}}</div>

<section>
<div class="container">
    <div class="col-md-12 col-sm-12">
    <div class="panel panel-primary">
      
      <form action="#" method="post" accept-charset="utf-8">
       <div class="col-sm-12 h1 text-primary text-center mt-5 affilate_heading" style="margin-bottom: 0.3em; color: #032248 !important">Personal Info</div>

      <div class="wow animated" style="padding: 5px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                    <label class="control-label" for="name">Username(Email):</label>
                    <input class="form-control" name="location" placeholder="Username(Email)" type="text" required />
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                    <label class="control-label" for="name">First Name:</label>
                    <input class="form-control" name="fullname" placeholder="First Name" type="text" required />                                
                </div>                
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                    <label class="control-label" for="name">Last Name:</label>
                    <input class="form-control" name="email" placeholder="Last Name" type="text" required />
                </div>
              </div>
       </div>
       <div class="col-sm-12 h1 text-primary text-center mt-5 affilate_heading" style="margin-bottom: 0.3em; color: #032248 !important">Additional Information</div>

            <div class="wow animated" style="padding: 5px;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                        <label class="control-label" for="name">Web Url:</label>
                        <input class="form-control" name="fullname" placeholder="Web Url" type="text" required />                                
                    </div>                
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                        <label class="control-label" for="name">Company Name:</label>
                        <input class="form-control" name="email" placeholder="Company Name" type="text" required />
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">Street:</label>
                            <input class="form-control" name="fullname" placeholder="Street" type="text" required />                                
                        </div>                
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">City:</label>
                            <input class="form-control" name="email" placeholder="City" type="text" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">State:</label>
                            <input class="form-control" name="email" placeholder="State" type="text" required />                        
                        </div>                
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">Country:</label>
                            <select name="country" id="country" class="form-control">
                                <option>Select</option>
                                <option>United States</option>
                                <option>United Kindom</option>
                                <option>Canada</option>
                                <option>Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">Zipcode:</label>
                            <input class="form-control" name="fullname" placeholder="Zipcode" type="text" required />                                
                        </div>                
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">Phone:</label>
                            <input class="form-control" name="email" placeholder="Phone" type="text" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">Fax:</label>
                            <input class="form-control" name="fullname" placeholder="Fax" type="text" required />                                
                        </div>                
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            <label class="control-label" for="name">SSN or Tax ID:</label>
                            <input class="form-control" name="email" placeholder="SSN or Tax ID" type="text" required />
                        </div>
                    </div>
            </div>
            <div class="col-sm-12 h1 text-primary text-center mt-5 affilate_heading" style="margin-bottom: 0.3em; color: #032248 !important">Payout Methods</div>

            <div class="wow animated" style="padding: 5px;">
                  
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                          <label class="control-label" for="name">Payout method:</label>
                          <input class="form-control" name="fullname" placeholder="Payout method" type="text" required />                                
                      </div>                
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                          <label class="control-label" for="name">PayPal Email:</label>
                          <input class="form-control" name="email" placeholder="PayPal Email" type="text" required />
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">   
                            <p class="terms">Terms & conditions</p>
                            <p>Affiliate Program Terms & Conditions</p>
                            <p>By filling out the signup form you acknowledge that you have read the terms and conditions, understand, and agree with them.<br/>
                            Joining the Program</p>             
                            <p class="conditions" style="margin-left:2%;">
                                <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something" />
                                <span>I agree to the terms & conditions Signup</span> </p>          
                        </div>
                    </div>
             </div>
             
          <div class="panel-footer" style="margin-bottom:-14px;"> 
            <button style="margin-left:1%;" type="button" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div> 
    </div>    
  </div>
</section>
{{partial "we_accept.html" . }}
{{end}}