{{ define "main" }}

<div class="col-sm-12 h1 text-primary text-center mt-5 h1 pro1">{{.Title }}</div>
<!-- panel group -->
<div class="container">
    <h4 class="text-center">
            {{ .Content }}
    </h4>
</div>
</div>
<section class="Material-contact-section section-padding section-dark">
    <div class="container">
       
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
             <h3>Business Hours</h3><br>
              <div class="find-widget">
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Monday-Friday-9:00am to 5:00pm</h5>
              </div>
              <div class="find-widget">
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Saturday-10:00am to 2:00pm</h5>
              </div>
              <div class="find-widget">
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Sunday-closed</h5>
              </div>
              
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator" style="margin-top:10px;">
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                      <label class="control-label">Subject</label>
                      <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-common" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>

{{partial "we_accept.html" . }}

{{ end }}